[submodule "src-posts"]
	path = site/src-posts
	url = https://github.com/dimaslanjaka/source-posts.git
	branch = posts
[submodule "source"]
	path = site/source
	url = https://github.com/dimaslanjaka/public-source.git
	branch = master
[submodule "packages/hexo-generator-redirect"]
	path = packages/hexo-generator-redirect
	url = https://github.com/dimaslanjaka/hexo-generator-redirect
	branch = master
[submodule "packages/hexo-generator-i18n"]
	path = packages/hexo-generator-i18n
	url = https://github.com/dimaslanjaka/hexo-generator-i18n.git
	branch = optimize
[submodule "themes/next"]
	path = site/themes/next
	url = https://github.com/dimaslanjaka/hexo-theme-next.git
	branch = private
[submodule "themes/butterfly"]
	path = site/themes/butterfly
	url = https://github.com/dimaslanjaka/hexo-theme-butterfly
	branch = private
[submodule "themes/material"]
	path = site/themes/material
	url = https://github.com/dimaslanjaka/hexo-theme-material
	branch = private
[submodule "packages/nodejs-packages-types"]
	path = packages/nodejs-packages-types
	url = https://github.com/dimaslanjaka/nodejs-package-types
[submodule "packages/hexo-seo"]
	path = packages/hexo-seo
	url = https://github.com/dimaslanjaka/hexo-seo
