[submodule "src-posts"]
	path = src-posts
	url = https://github.com/dimaslanjaka/source-posts.git
	branch = posts
[submodule "source"]
	path = source
	url = https://github.com/dimaslanjaka/public-source.git
	branch = master
[submodule "packages/hexo-generator-redirect"]
	path = packages/hexo-generator-redirect
	url = https://github.com/dimaslanjaka/hexo-generator-redirect
	branch = master
[submodule "packages/hexo-generator-i18n"]
	path = packages/hexo-generator-i18n
	url = https://github.com/dimaslanjaka/hexo-generator-i18n.git
	branch = optimize
[submodule "packages/hexo-seo"]
	path = packages/hexo-seo
	url = https://github.com/dimaslanjaka/hexo-seo
	branch = master
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/dimaslanjaka/hexo-theme-next.git
	branch = private
