<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Snippet {{ page.title | safe }}</title>
    <meta name="author" content="{{ getAuthor(page.author, getAuthor(config.author, 'L3n4r0x')) }}" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="{{ page.keyword or page.keywords }}" />
    <meta name="description" content="{{ page.description or page.excerpt or page.subtitle }}" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//www.webmanajemen.com/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/vs.min.css" />
    <style>
      pre {
        border: black solid 1px;
        border-radius: 5px;
        position: relative;
      }
      .btn-pre {
        position: absolute;
        top: 2px;
        right: 2px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid bg-white">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <div class="container-fluid mt-4">
        <div class="bg-dark rounded-3 text-white p-5">
          <div class="position-relative">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ page.type }}
              <span class="visually-hidden">type</span>
            </span>
            <h1 class="display-5 fw-bold">{{ page.title }}</h1>
          </div>

          <p class="col-md-8 fs-4">{{ page.description or page.excerpt or page.subtitle }}</p>
          <a class="btn btn-outline-light" type="button" href="../">BACK</a>
        </div>
      </div>
      <div class="py-4">
        {{ page.content }}
      </div>

      {{ getPost('tags', 'snippet') }}
    </div>

    <!--<script src="/r-ads.js"></script>-->
    <script src="//www.webmanajemen.com/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>
      const els = Array.from(document.querySelectorAll('pre code'));
      for (let i = 0; i < els.length; i++) {
        const el = els[i];
        hljs.highlightBlock(el);
        const btn = document.createElement('button');
        btn.classList.add('btn', 'btn-sm', 'btn-pre', 'border');
        btn.textContent = 'copy';
        el.parentElement.append(btn);
      }

      document.addEventListener('click', function (e) {
        /**
         * @type {HTMLElement}
         */
        const el = e.target;
        if (el.classList.contains('btn-pre')) {
          const content = el.parentElement.textContent;
          copyTextToClipboard(content);
        }
      });

      function fallbackCopyTextToClipboard(text) {
        var textArea = document.createElement('textarea');
        textArea.value = text;

        // Avoid scrolling to bottom
        textArea.style.top = '0';
        textArea.style.left = '0';
        textArea.style.position = 'fixed';

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
          var successful = document.execCommand('copy');
          var msg = successful ? 'successful' : 'unsuccessful';
          console.log('Fallback: Copying text command was ' + msg);
        } catch (err) {
          console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
      }
      function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
          fallbackCopyTextToClipboard(text);
          return;
        }
        navigator.clipboard.writeText(text).then(
          function () {
            console.log('Async: Copying to clipboard was successful!');
          },
          function (err) {
            console.error('Async: Could not copy text: ', err);
          }
        );
      }
    </script>
  </body>
</html>
<!--
  https://github.com/visual-framework/vf-core/blob/develop/tools/vf-component-library/src/site/_includes/layouts/base.njk
  https://github.com/visual-framework/vf-core/blob/develop/tools/vf-component-library/src/site/demos/integration-bootstrap.njk
  https://codepen.io/emrah/pen/gbzXYx?editors=1010
-->
