<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Snippet {{ page.title | safe }}</title>
    <meta name="author" content="{{ getAuthor(page.author, getAuthor(config.author, 'L3n4r0x')) }}" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="{{ page.keyword or page.keywords }}" />
    <meta name="description" content="{{ page.description or page.excerpt or page.subtitle }}" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//www.webmanajemen.com/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/vs.min.css" />
    <style>
      pre {
        border: black solid 1px;
        border-radius: 5px;
        position: relative;
      }
      .btn-pre {
        position: absolute;
        top: 0px;
        right: 0px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid bg-white">
      <div class="container-fluid">
        <div class="bg-dark rounded-3 text-white p-5">
          <h1 class="display-5 fw-bold">{{ page.title }}</h1>
          <p class="col-md-8 fs-4">{{ page.description or page.excerpt or page.subtitle }}</p>
          <a class="btn btn-outline-light" type="button" href="../">BACK</a>
        </div>
      </div>
      <div class="py-4">
        {{ page.content }}
      </div>
    </div>

    <!--<script src="/r-ads.js"></script>-->
    <script src="//www.webmanajemen.com/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>
      const els = Array.from(document.querySelectorAll('pre code'));
      for (let i = 0; i < els.length; i++) {
        const el = els[i];
        hljs.highlightBlock(el);
        const btn = document.createElement('button');
        btn.classList.add('btn', 'btn-sm', 'btn-pre');
        btn.textContent = 'copy';
        el.parentElement.append(btn);
      }

      document.addEventListener('click', function (e) {
        /**
         * @type {HTMLElement}
         */
        const el = e.target;
        if (el.classList.contains('btn-pre')) {
          const content = el.parentElement.textContent;
          copyTextToClipboard(content);
        }
      });

      function fallbackCopyTextToClipboard(text) {
        var textArea = document.createElement('textarea');
        textArea.value = text;

        // Avoid scrolling to bottom
        textArea.style.top = '0';
        textArea.style.left = '0';
        textArea.style.position = 'fixed';

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
          var successful = document.execCommand('copy');
          var msg = successful ? 'successful' : 'unsuccessful';
          console.log('Fallback: Copying text command was ' + msg);
        } catch (err) {
          console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
      }
      function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
          fallbackCopyTextToClipboard(text);
          return;
        }
        navigator.clipboard.writeText(text).then(
          function () {
            console.log('Async: Copying to clipboard was successful!');
          },
          function (err) {
            console.error('Async: Could not copy text: ', err);
          }
        );
      }
    </script>
  </body>
</html>
<!--
  https://github.com/visual-framework/vf-core/blob/develop/tools/vf-component-library/src/site/_includes/layouts/base.njk
  https://github.com/visual-framework/vf-core/blob/develop/tools/vf-component-library/src/site/demos/integration-bootstrap.njk
  https://codepen.io/emrah/pen/gbzXYx?editors=1010
-->
