// Variables Layer
// --------------------------------------------------
@import './_variables/index.styl';
// Mixins Layer
// --------------------------------------------------
@import './_mixins/index.styl';
// Common Layer
// --------------------------------------------------
@import './_common/index.styl';
// Custom Layer
// --------------------------------------------------
@import './_custom/index.styl';

.img-alt-msg {
  // background-color: rgba(51, 51, 51, 0.81);
  // color: #fff;
  color: rgb(177, 70, 31);
  // padding: 5px;
  font-size: smaller;
  white-space: pre-line;
  line-height: initial;
  padding-left: 2px;
  padding-top: 2px;
}
