.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
_multiconfig.yml
docs/
*-old
*-backup
*.backup.*
*-private*
**/.yarn/cache/**
**/.yarn/unplugged/**
**/.yarn/*.gz
.pnp.*
.deploy_git


# temp
tmp
#tmp/*
#!tmp/hexo-seo/
#tmp/hexo-seo/logs
