.DS_Store
Thumbs.db
#/db.json
*.log
node_modules/
!public-source/node_modules/
public/
_multiconfig.yml
docs/
*-old
*-backup
*-test*
*.backup.*
*-private*
**/.yarn/cache/**
**/.yarn/unplugged/**
**/.yarn/*.gz
**/.pnp.*
**/.deploy_*
db.json

# temp
tmp
#tmp/*
#!tmp/hexo-seo/
#tmp/hexo-seo/logs
